In [1]:
for x in range(3,10):
    print(x)

3
4
5
6
7
8
9

In [2]:
for x in range(0,11,2):
    print(x)

0
2
4
6
8
10

In [3]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [4]:
index = 0

for l in "Hello World":
    print('index {} for letter {}'.format(index,l))
    index += 1

index 0 for letter H
index 1 for letter e
index 2 for letter l
index 3 for letter l
index 4 for letter o
index 5 for letter
index 6 for letter W
index 7 for letter o
index 8 for letter r
index 9 for letter l
index 10 for letter d

In [5]:
word = "abcde"

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [6]:
word = "abcde"

for index,letter in enumerate(word):
    print(index,letter)

0 a
1 b
2 c
3 d
4 e

In [7]:
my_list1 = [1,2,3]
my_list2 = ['a','b','c']

for item in zip(my_list1,my_list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [8]:
my_list3 = [123,463,"dupa"]

for item in zip(my_list1,my_list2,my_list3):
    print(item)

(1, 'a', 123)
(2, 'b', 463)
(3, 'c', 'dupa')

In [9]:
# jesli zip zrobimy na nierownych listach, zlaczy tyle ile bedzie mogl reszte oleje

In [10]:
list(zip(my_list1,my_list2,my_list3))

[(1, 'a', 123), (2, 'b', 463), (3, 'c', 'dupa')]

In [11]:
'x' in [1,2,3]

False

In [12]:
'x' in ['x',1,'a']

True

In [13]:
'mykey' in {'mykey':1}

True

In [14]:
d = {'mykey':56}

56 in d.values()

True

In [15]:
from random import shuffle

In [16]:
mylist = [1,2,34,78,999]

shuffle(mylist)
print(mylist)

[2, 999, 1, 78, 34]

In [17]:
from random import randint

mynum = randint(0,100)

In [18]:
mynum

7

In [19]:
name = input('What is your name?')

What is your name?Rafal

In [20]:
name

'Rafal'

In [21]:
x = input('What is your favorite number ?')

What is your favorite number ?7

In [22]:
type(x)

str

In [23]:
x = int(input('What is your favorite number ? '))

What is your favorite number ? 7

In [24]:
type(x)

int

In [25]:
#LIST COMPREHANSION

In [26]:
word = "Hello"
lol = []

for letter in word:
    lol.append(letter)

lol

['H', 'e', 'l', 'l', 'o']

In [27]:
lol2 = [letter for letter in word]

In [28]:
lol2

['H', 'e', 'l', 'l', 'o']

In [29]:
lol3 = [x for x in "Losowy przyklad"]

In [30]:
lol3

['L', 'o', 's', 'o', 'w', 'y', ' ', 'p', 'r', 'z', 'y', 'k', 'l', 'a', 'd']

In [33]:
myNum = [num**2 for num in range(0,11)]

In [34]:
myNum

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
myNum2 = [num for num in range(0,11) if num%2 == 0]

In [38]:
myNum2

[0, 2, 4, 6, 8, 10]

In [40]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp +32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [41]:
results = [x if x%2==0 else  'ODD' for x in range (0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [42]:
mylist = []

for x in [2,4,5]:
    for y in [50,100,200]:
        mylist.append(x*y)

mylist

[100, 200, 400, 200, 400, 800, 250, 500, 1000]

In [45]:
mylist2 = [x*y for x in [2,4,5] for y in [50,100,200]]
mylist2

[100, 200, 400, 200, 400, 800, 250, 500, 1000]